.home-page {
  background-image: url("../../../assets/background.png");
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-blend-mode: overlay;
  height: 110vh;
  position: relative;
}
/* nav */
.navbar-home {
  background-color: transparent !important;
  padding-top: 1rem;
  font-size: 14px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important ;
}
.btn-success {
  font-size: 13px !important;
  padding: 14px 20px !important;
}
.nav-home .nav-link {
  margin-left: 1.5rem !important;
  color: #ffffff !important;
  font-weight: 500 !important;
}
.logo-img {
  width: 50px;
}
.home-brand {
  font-weight: bolder !important;
  color: #ffffff !important;
}
/* hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.col-hero-home {
  color: #ffffff !important;
}
.col-home-box{
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  padding: 30px 20px;
  color: #000000 !important;
}
.colored-text{
  color: #0b8260 !important;
}
.bg-green {
    background-color: #0b8260  !important;
    height: 0.10rem !important;
    width: 2.5rem !important;
}
.lios-vrst {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    position: relative;
}
.lios-vrst ul li {
    flex: 0 0 33.3333%;
    list-style: none;
    width: 33.3333%;
    position: relative;
}
.lios-parts h2 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 300;
}
.lios-vrst ul {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.lios-parts h2 span {
    margin-left: 5px;
}
.text-main {
    color: #0b8260  !important;
}

/* company */
.container-companies {
    margin-top: 100px !important;
}