.home-page {
  background-image: url("../../../assets/background.png");
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-blend-mode: overlay;
  min-height: 110vh;
  max-height: 110vh;
  position: relative;
}
/* nav */
.navbar-home {
  background-color: transparent !important;
  padding-top: 1rem;
  font-size: 14px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important ;
}
.btn-success {
  font-size: 13px !important;
  padding: 14px 20px !important;
}
.nav-home .nav-link {
  margin-left: 1.5rem !important;
  color: #ffffff !important;
  font-weight: 500 !important;
}
.logo-img {
  width: 50px;
}
.home-brand {
  font-weight: bolder !important;
  color: #ffffff !important;
}
/* hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.col-hero-home {
  color: #ffffff !important;
}
.col-home-box{
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  padding: 30px 20px;
  color: #000000 !important;
}
.colored-text{
  color: #0b8260 !important;
}
.bg-green {
    background-color: #0b8260  !important;
    height: 0.10rem !important;
    width: 2.5rem !important;
}
.lios-vrst {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    position: relative;
}
.lios-vrst ul li {
    flex: 0 0 33.3333%;
    list-style: none;
    width: 33.3333%;
    position: relative;
}
.lios-parts h2 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 300;
}
.lios-vrst ul {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.lios-parts h2 span {
    margin-left: 5px;
}
.text-main {
    color: #0b8260  !important;
}

/* company */
.container-companies {
    margin-top: 100px !important;
}

/* Jobs */

.featured-text {
    display: inline-block;
    color: #009667;
    background: rgb(0 150 103 / 15%);
    padding: 3px 15px;
    font-size: 12px;
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-radius: 10px;
}
.job-instructor-thumb img {
    display: table;
    margin: 0 auto;
    max-width: 80px;
    max-height: 80px;
}

.job-instructor-thumb {
    display: table;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}
.border:hover {
    transform: scaleY(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
   
}
.urgent {
    display: inline-block;
    color: #ff8222;
    background: rgb(255 130 34 / 15%);
    padding: 3px 15px;
    font-size: 12px;
}

a {
    color: var(--linkcolor);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.job-instructor-content {
    position: relative;
    padding: 0.1rem 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 80px;
}

.job-instructor-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.instructor-students {
    flex: 1;
}
.instructor-scount {
    margin: 0;
    font-size: 1.1rem;
}
.instructor-corses span {
    display: flex;
    padding: 4px 14px;
    font-weight: 500;
    background: var(--maincolor);
    border-radius: 50px;
    color: #ffffff;
    font-size: 12px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

/* newsletter */
.newsletter-container{
    background-color: var(--maincolor);
    background-image: url("../../../assets/footer-bg-dark.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
